.app_bar {
    height: 100%;
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app_bar__inner {
    /* margin: 8px; */
    height: calc(100% - 16px);
    width: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.app_bar__top {
    width: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
}
.app_bar_header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}
.app_bar_body__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}
.app_bar_footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}