body {
    background-color: #F5F6FF;
}
.platform_bar_container{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 64px;
    width: 100%;
    background-color: white;
}
.platform_bar_container__inner{
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.app_bar_container{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100px;
    background-color: white;
}
.app_bar_container__inner{
    height: 100%;
    width: 100px;
}
.page_container{
    background-color: #F5F6FF;
}
.page_container__inner{
    height: 100%;
    width: 100%;
}