.group {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.group__inner {
    margin: 16px 0px;
    height: auto;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}