.layout {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.layout__inner {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}